<!DOCTYPE html>
<html>
<head>
    <title>Control GPIO Pins auto refresh</title>
    <meta http-equiv="refresh" content="1">
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
    }
    </style>
</head>
<body>
    <header>
        <a href="/">click here</a> to exit use real time auto refresh.
    </header>
    <h2>Write Output</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Pin</th>
            <th>ON</th>
            <th>OFF</th>
        </tr>
        {% for k, v in data["output_pin"].items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
            <td>
                <form action="/on/{{ v }}" method="POST">
                    <button type="submit">ON</button>
                </form>
            </td>
            <td>
                <form action="/off/{{ v }}" method="POST">
                    <button type="submit">OFF</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Read Input and Output</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Pin</th>
            <th>Status</th>
        </tr>
        {% for k, v in data["read_all_pin"].items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v[0] }}</td>
            <td>{{ v[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
