<!DOCTYPE html>
<html>
<head>
    <title>Control GPIO Pins</title>
    <style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border-collapse: collapse;
        border: 1px solid black;
        padding: 8px;
        vertical-align: top;
    }
    </style>
    <script>
        function refreshFrame() {
            var frame = document.getElementById('statusFrame');
            frame.contentWindow.location.reload();
            var frame = document.getElementById('dataFrame');
            frame.contentWindow.location.reload();
        }
        setInterval(refreshFrame, 1000);
    </script>
</head>
<body>
    <header>
        <a href="/auto-refresh">click here</a> to use real-time automatic refresh
    </header>
    <h2>Status</h2>
    <table style="border: 2px solid white;">
        <tr>
            <th style="border: 2px solid white;">step</th>
            <th style="border: 2px solid white;">data</th>
        </tr>
        <tr>
            <td style="border: 2px solid white;">
                <iframe id="statusFrame" src="/static/step.txt" height="100" width="300"></iframe>
            </td>
            <td style="border: 2px solid white;">
                <iframe id="dataFrame" src="/static/data.txt" height="100" width="300"></iframe>
            </td>
        </tr>
        
    </table>
    

    
    <br>
    <h2>Write & Read</h2>
    <table style="border: 2px solid white;">
        <tr>
            <th style="border: 2px solid white;">Write Output</th>
            <th style="border: 2px solid white;">Read Input and Output</th>
        </tr>
        <tr>
            <td style="border: 2px solid white;">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Pin</th>
                        <th>ON</th>
                        <th>OFF</th>
                    </tr>
                    {% for k, v in data["output_pin"].items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                        <td>
                            <form action="/on/{{ v }}" method="POST">
                                <button type="submit">ON</button>
                            </form>
                        </td>
                        <td>
                            <form action="/off/{{ v }}" method="POST">
                                <button type="submit">OFF</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Pin</th>
                        <th>Status</th>
                    </tr>
                    {% for k, v in data["read_all_pin"].items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v[0] }}</td>
                        <td>{{ v[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    
    <br>
    <h2>API</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Command</th>
            <th>Link</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>Read Input and Output All</td>
            <td>/readpinall</td>
            <td><a href="/readpinall">Link</a></td>
            <td></td>
        </tr>
        <tr>
            <td>on off output</td>
            <td>/{status}/{pin}</td>
            <td></td>
            <td>status is On or Off</td>
        </tr>
        <tr>
            <td>run io programe</td>
            <td>/run/{0 or 1}</td>
            <td><a href="/run/1">run</a> / <a href="/run/0">don't run</a></td>
            <td>1 = run</td>
        </tr>
        <tr>
            <td>read data</td>
            <td>/data/read</td>
            <td><a href="/data/read">Link</a></td>
            <td></td>
        </tr>
        <tr>
            <td>write data</td>
            <td>/data/write/{data}</td>
            <td></td>
            <td>data is str<br>None -> predict -> ok -> None</td>
        </tr>
    </table>
    <br>
    <h2>Pin Out</h2>
    <img src="static/ras io.png" alt="raspberrypi io">
</body>
</html>
